@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .a11y-hidden {
    @apply overflow-hidden absolute;
    clip: rect(0, 0, 0, 0);
    @apply w-px h-px m-[-1px] border-0 p-0;
  }
  .selected {
    @apply text-white bg-primary-100 border-[#E6E6E6] drop-shadow-[0px_0px_2px_#db0d97] border-[0.7px] font-bold;
  }

  .label-moved {
    @apply text-xs xs:text-[13px] md:text-sm lg:text-sm peer-focus:text-xs peer-focus:left-5 peer-focus:-top-[1px];
  }

  .label-default {
    @apply text-xs absolute left-5 -top-[1px];
  }
}

html,
body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable";
}

a,
button {
  outline-color: #f43f5ee6;
}
