@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .a11y-hidden {
    @apply overflow-hidden absolute;
    clip: rect(0, 0, 0, 0);
    @apply w-px h-px m-[-1px] border-0 p-0;
  }
}

html,
body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard Variable";
}
